{% extends 'base/UserNavbar.html' %}
{%block title%} review {%endblock%}
{% load static %}
{%block body%}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="review.css">
	<title>Contact us form validation Using Javascript</title>
</head>
<body>

    <div id="feedback-form-wrapper">
        <div id="floating-icon">
          <button type="button" class="btn btn-primary btn-sm rounded-0" data-toggle="modal" data-target="#exampleModal">
            Feedback
          </button>
      
        </div>
        <div id="feedback-form-modal">
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Feedback Form</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                      <label for="input-two">Would you like to say something?</label>
                      <textarea class="form-control" id="input-two" rows="3"></textarea>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
<script src="review.js"></script>
</html>

{% endblock%}