* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
}


/* nav {
  background: #0065ad;
  height: 80px;
  width: 100%;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #1b9bff;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
@media (max-width: 952px) {
  nav {
    display: block;
  }

  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {

  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul {
    display: block;
    justify-content: none;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0065ad;
  }

  #check:checked~ul {
    left: 0;
  }
} */

.join_text {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.join_text p {
    margin-top: 60px;
    text-align: center;
    font-weight: 500;
    color: #0065ad;
}

.join_box {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.select {
    border: #0065ad;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    font-weight: 500;
    text-align: center;
}

.select :hover {
    background-color: #0065ad;
}

.select img {
    height: 60px;
    width: 70px;
}

.imeg {
    padding-top: 11px;
    margin: auto;
    width: 90px;
}

.select p {
    margin-bottom: 0 !important;
}

.type {
    padding-top: 10px;
    padding-bottom: 20px;
    text-decoration: none!important;
}

.bichhako_button {
    display: flex;
    justify-content: center;
}

.bichhako_button a {
    background-color: #0065ad;
    /* Green */
    border: none;
    color: white;
    padding: 9px 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;
}

.bichhako_button a:hover {
    color: white;
}

.acc {
    border-style: solid;
    width: 60%!important;
    border-width: 1px;
    border-color: gainsboro;
    margin-top: 20px;
    text-align: center;
}

.but {
    width: 400px;
    height: 35px;
    margin-bottom: 20px;
    padding: 12px;
    font-size: 16;
}

#create {
    font-size: 26px;
    color: #0065ad;
    padding-top: 20px;
}

.batta {
    padding-top: 15px;
    padding-bottom: 15px;
}

.select:hover {
    background-color: #0065ad;
    color: white;
}

.desc {}