{% extends 'base/UserNavbar.html' %}
{% load static %}
{%block title%} Login {%endblock%}
{% load static %}
{%block content%}
<div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    
                </div>
                <div class="col-md-6 login-form-2">
                    <h3>Login</h3>
                    <form action="/login/" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" placeholder="example.gmail.com" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="********" value="" />
                        </div>
                        <div class="form-group">
                            <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label>
                            <a href="#" class="ForgetPwd m-1" value="Login">Forget Password?</a>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Login" />
                        </div>
                    </form>
                </div>
            </div>
</div>
{%endblock%}