{% extends 'base/UserNavbar.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/postedjobs.css' %}">
<div class="main-content content-div">
    <div class="container mt-5">
      <!-- Table -->  
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">User</h3>
            </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                        <th scope="col">User</th>
                        <th scope="col">Country</th>
                        <th scope="col">Status</th>
                        <th scope="col">Applied Date</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% csrf_token %}
                        {% for i in applications %}
                            <tr>
                            <th scope="row">
                                <div class="media align-items-center">
                                <a href="#" class="avatar rounded-circle mr-3">
                                    <img alt="Image placeholder" src="{{ i.user.getFreelancer.profile_picture.url }}">
                                </a>
                                <div class="media-body">
                                    <span class="mb-0 text-sm">{{i.user.username}}</span>
                                </div>
                                </div>
                            </th>
                            <td>
                                <p style="color:black;">
                                    {% if i.user.getFreelancer.country %}
                                        {{i.user.getFreelancer.country}}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </p>
                            </td>
                            <td>
                                <span class="badge badge-dot mr-4">
                                <p style="color:black;">
                                    {% if i.status == "Pending" %}
                                    <i class="bg-primary"></i>
                                    {{i.status}}
                                    {% endif %}

                                    {% if i.status == "Rejected" %}
                                    <i class="bg-danger"></i>
                                    {{i.status}}
                                    {% endif %}

                                    {% if i.status == "Hired" %}
                                    <i class="bg-success"></i>
                                    {{i.status}}
                                    {% endif %}
                                </p>
                                </span>
                            </td>

                            <td>
                                <span class="badge badge-dot mr-4">
                                <p style="color:black;">{{i.applied_date}}</p>
                                </span>
                            </td>

                            <td class="text-right">
                                <div class="dropdown">
                                  <span class="btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16" style="color:black;">
                                        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                      </svg>
                                  </span>
                                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    {% if i.status != "Hired" %}
                                        <a class="dropdown-item btn-reject" href="#" data-status="Rejected" data-app="{{i.id}}" id="btn-reject">Reject</a>
                                        <button class="dropdown-item btn-hire" data-status="Hired" data-app="{{i.id}}" data-user="{{i.user.username}}" data-amount="{{i.gig.pay}}" id="btn-hire">Hire</button>
                                    {% else %}
                                        <a class="dropdown-item" href="#">Applicant already hired.</a>
                                    {% endif %}
                                  </div>
                                </div>
                              </td>
                            
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popup hide bg-light rounded" id="popup">
        <button id = "x">
            X
        </button>
        <div class="content">
            {% csrf_token %}
            <h3 id="hire-message">Are you sure you want to hire zz?</h3>
            <p text-primary>Note: Please make the necessary payment in order to hire the applicant.</p>
            <button class="pay-btn" id="payment-button">Pay with Khalti</button>
        </div>
    </div>
    <script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>

    
    <script src="{% static 'JS/applicationlist.js' %}"></script>
    {% endblock %}