{% extends 'account/basic.html' %}

{% load bootstrap %}
(% load crispy_forms_tags %)
{%block title%} addgigs {%endblock%}
{% load static %}
{%block body%}

<div class="container d-flex justify-content-center my-4">  
    <div class="col-lg-5">
    <form id="contact" action="" method="post">
      <h3>Post Your Job</h3>
      <fieldset>
        <input placeholder="Your name" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Your Email Address" type="email" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input placeholder="Your Phone Number (optional)" type="tel" tabindex="3" required>
      </fieldset>
      <fieldset>
        <input placeholder="Your Web Site (optional)" type="url" tabindex="4" required>
      </fieldset>
      <fieldset>
        <textarea placeholder="Your Job Description...." tabindex="5" required></textarea>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>

    </form>
</div>
  </div>
{% endblock%}

