{% extends 'base/UserNavbar.html'%} {% load static %} {% block body %}


<body>
    <link rel="stylesheet" href="{% static 'css/employer_edit.css'%}">
    <form action="/employer_Save" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-7 border" style="margin: auto;">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-center align-items-center mb-3">
                            <h1 class="text-center" style="font-family: Rza,Rza-fallback;">Profile Settings</h1>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12 fileds_margin"><input type="text" name="first_name" class="form-control" placeholder="First Name" value=""></div>

                            <div class="col-md-12 fileds_margin"><input type="text" name="last_name" class="form-control" placeholder="Last Name" value=""></div>
                            <div class="col-md-12 fileds_margin"><input type="number" name="PhoneNumber" class="form-control" placeholder="Phone Number" value=""></div>
                            <div class="col-md-12 fileds_margin"><input type="text" name="email" class="form-control" placeholder="Email" value=""></div>
                        </div>
                        <div class="row mt-3" style="margin-top: 10px!important;">
                            <div class="col-md-6 fileds_margin_city_and_country"><input type="text" name="country" class="form-control" placeholder="Country" value=""></div>
                            <div class="col-md-6 fileds_margin_city_and_country"><input type="text" name="city" class="form-control" value="" placeholder="City"></div>
                            <div class="col-md-6 fileds_margin"><input type="file" name="profile_picture" class="form-control" value="" placeholder="Choose file"></div>
                        </div>
                        <div class="mt-5 text-center">
                            <button class="btn btn-primary profile-button" type="submit">Save
                            Profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</html>
{%endblock%}