* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.home {
    display: flex;
    background: url("/static/images/landingpage.png") no-repeat center;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    /* background-attachment: fixed; */
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: auto;
}

.home .max-width {
    width: 100%;
    text-align: right;
    word-wrap: break-word;
    /* display: flex; */
}

.home .home-content {
    color: rgb(2, 27, 109);
    width: 400px;
    flex-direction: row;
}

.home .home-content .text-1 {
    font-size: 20px;
    font-style: italic;
    color: rgb(112, 111, 111)
}

.home .home-content .text-2 {
    font-size: 40px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-2 span {
    font-size: 80px;
}

.home .home-content a {
    display: inline-block;
    background: #4fb3fa;
    /* color: #fff; */
    font-size: 20px;
    padding: 6px 20px;
    margin-top: 20px;
    font-weight: 400;
    border: 2px solid #4fb3fa;
    border-radius: 40px;
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    /* color: #0065ad; */
    background: none;
    border: 2px solid #4fb3fa;
}


/* ==================================================================================================== */

:root {
    --white: white;
    --gradient: linear-gradient(-45deg, #ffa600 0%, #ff5e03 50%);
    --form: #eeefef;
    --border-radius: 4px;
    --form-width: 500px;
    --form-mob-width: 320px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
label {
    cursor: pointer;
}

label {
    display: block;
}

button,
input,
textarea {
    font-family: inherit;
    font-size: 100%;
    border: none;
}

textarea {
    resize: none;
}


/* FORM
–––––––––––––––––––––––––––––––––––––––––––––––––– */

[type="checkbox"] {
    position: absolute;
    display: none;
    left: -9999px;
}

.feedback-label,
.form {
    position: fixed;
    top: 50%;
    right: 0;
    backface-visibility: hidden;
}

.feedback-label {
    transform-origin: top right;
    transform: rotate(-90deg) translate(50%, -100%);
    /*uncomment this if you want to reverse the order of the characters*/
    /*transform: rotate(90deg) translateX(50%);*/
    z-index: 2;
}

.form {
    width: var(--form-width);
    max-height: 90vh;
    transform: translate(100%, -50%);
    padding: 30px;
    overflow: auto;
    background: var(--form);
    z-index: 1;
}

.feedback-label,
.form,
.form button {
    transition: all 0.35s ease-in-out;
}

.feedback-label,
.form input,
.form textarea,
.form button {
    border-radius: var(--border-radius);
}

.feedback-label,
.form button {
    background: var(--gradient);
    color: var(--white);
}

.feedback-label:hover,
.form button:hover {
    filter: hue-rotate(-45deg);
}

.feedback-label {
    padding: 5px 10px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

form div:not(:last-child) {
    margin-bottom: 20px;
}

form div:last-child {
    text-align: right;
}

.form input,
.form textarea {
    padding: 0 5px;
    width: 100%;
}

.form button {
    padding: 10px 20px;
    width: 50%;
    max-width: 120px;
}

.form input {
    height: 40px;
}

.form textarea {
    height: 220px;
}

[type="checkbox"]:checked+.feedback-label {
    /*EDGE is buggy with calc + variables + transform - use a hardcoded value instead of variables*/
    transform: rotate(-90deg) translate(50%, calc((var(--form-width) + 100%) * -1));
    /*uncomment this if you want to reverse the order of the characters*/
    /*transform: rotate(90deg) translate(50%, var(--form-width));*/
}

[type="checkbox"]:focus+.feedback-label {
    outline: 2px solid rgb(77, 144, 254);
}

[type="checkbox"]:checked~.form {
    transform: translate(0, -50%);
}


/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }
    .form {
        padding: 15px;
        width: var(--form-mob-width);
    }
    form div:not(:last-child) {
        margin-bottom: 10px;
    }
    [type="checkbox"]:checked+.feedback-label {
        transform: rotate(-90deg) translate(50%, calc((var(--form-mob-width) + 100%) * -1));
        /*uncomment this if you want to reverse the order of the characters*/
        /*transform: rotate(90deg) translate(50%, var(--form-mob-width));*/
    }
}


/* ==================================================================================================== */

.card {
    height: 300px;
    margin-top: 5%;
}

.card .container {
    position: relative;
    margin-top: 50px;
    width: 500px;
    height: 200px;
    background-color: #b4fcbf;
    border: none;
    border-radius: 30px;
    background: url("/static/images/content.jpg");
}

.card .title {
    position: absolute;
    width: 500px;
    left: 0;
    top: 50px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    z-index: 1;
    transition: top .5s ease;
}

.card .container:hover .title {
    top: 10px;
}

.card .image {
    position: absolute;
    width: 500px;
    left: 0;
    top: 100px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.card .image img {
    width: 120px;
    padding: 3px 22px;
    text-align: center;
    color: white;
    border-radius: 5px;
    /* border: solid 2px rgb(242, 178, 105); */
    /* background-color: rgb(105, 203, 242); */
    z-index: 1;
    justify-content: space-between;
}

.card .container:hover .image {
    opacity: 1;
}

.card {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    border: #4fb3fa;
}

.card .picture {
    width: 380px;
    height: 150px;
    display: flex;
}

.card .picture img {
    width: 100%;
    height: 200%;
}


/* ========================================================================================= */

.success {
    height: 300px;
    margin: 5% 10%;
}

.success .dream {
    display: flex;
    align-items: center;
    justify-content: center;
}

.success .dream .picture {
    width: 680px;
    height: 350px;
    display: flex;
}

.success .dream .container .title {
    font-size: 30px;
    font-weight: bolder;
}

.success .dream .container button {
    background-color: rgb(112, 8, 8);
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.success .dream .connect button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: medium;
}

.success .dream .connect button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
}

.success .dream .connect button:hover span {
    padding-right: 25px;
}

.success .dream .connect button:hover span:after {
    opacity: 1;
    right: 0;
}

.success .dream .move {
    text-align: start;
    padding-top: 4%;
}

.success .dream .carousel-control-prev,
.success .dream .carousel-control-next {
    background-color: #e1e1e1;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.success .dream .carousel-control-prev {
    left: -6%;
    top: 50%;
    transform: translateY(-50%);
}

.success .dream .carousel-control-next {
    right: -6%;
    top: 50%;
    transform: translateY(-50%);
}


/* ========================================================================================================== */


/* ======================================================================================== */

.join .earn {
    justify-content: center;
    position: relative;
}

.join .picture img {
    width: 100%;
    height: auto;
}

.join .earn .picture .text1 {
    position: absolute;
}

ul {
    margin: 0px;
    padding: 0px;
}