{% extends 'base/UserNavbar.html' %}

{% load static %}

{% block body %}
{% load countries %}
{% get_countries as countries %}
<link rel="stylesheet" href="{% static 'css/category.css' %}">

<!-- This script got from frontendfreecode.com -->
<div class="container-fluid m-0 bg-secondary">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 my-3">
                <div class="card p-3 py-4">
                    <div class="row g-3 mt-2">
                        <div class="col-md-3">
                            <div class="dropdown">
                                <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                Select Categories
                              </button> -->
                                <select name="country" class="form-control" style="width:200px;" id="country">
                                    <option value="" disabled selected>Select country</option>
                                    {% for i in countries %}
                                    <option value="{{ i.name }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>

                        <div class="col-md-6">

                            <input type="text" class="form-control" id="tag"
                                placeholder="Enter address e.g. street, city and state or zip">

                        </div>

                        <div class="col-md-3">

                            <button class="btn btn-secondary btn-block" id="btn-search">Search Results</button>

                        </div>

                    </div>


                    <div class="mt-3">

                        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                            aria-controls="collapseExample" class="advanced">
                            Advance Search With Filters <i class="fa fa-angle-down"></i>
                        </a>


                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="py-2 ml-3 d-inline">
                                            <div class="form-group d-inline">
                                                <!-- <p class="d-inline">Pay Range</p>
                        <input type="number" class="form-control w-20 d-inline" id="mobile-min-input" style="width:100px; display:inline;" placeholder="min"> 
                        <h5 class="d-inline text-muted">-</h5> 
                        <input type="number" class="form-control w-20 d-inline" id="mobile-max-input" style="width:100px; display:inline;" placeholder="max">  -->
                                                <h6 class="font-weight-bold">Pay Range</h6>
                                                <div id="orange"><span class="fa fa-minus"></span></div>
                                                <div class="form-group">
                                                    <input type="number" class="form-control w-20" id="min-input"
                                                        style="width:100px; display:inline;" placeholder="min">
                                                    <h5 class="d-inline text-muted">-</h5>
                                                    <input type="number" class="form-control w-20" id="max-input"
                                                        style="width:100px; display:inline;" placeholder="max">
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-4 d-inline">
                                            <select name="category" class="form-control" style="width:200px;"
                                                id="category">
                                                <option value="" disabled selected>Select category</option>
                                                {% for i in categories %}
                                                <option value="{{i.category_name|lower}}">{{ i.category_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="card card-margin">
                    <div class="card-body">
                        <div class="row search-body">
                            <div class="col-lg-12">
                                <div class="search-result">
                                    <div class="result-header">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="records">Showing: {{gigs.count}} result</div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="result-body">
                                        <div class="table-responsive">
                                            <table class="table widget-26">
                                                <tbody>
                                                    {% for i in gigs %}
                                                    <tr>
                                                        <td>
                                                            <div class="widget-26-job-emp-img">
                                                                <a href="/gig/jobdetail/{{i.id}}">
                                                                <img src="{{ i.image.url }}" alt="Company" />
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td class="align-items-center">
                                                            <div class="widget-26-job-title ">
                                                                <p> <a href="/gig/jobdetail/{{i.id}}"> {{i.title}} </a></p>
                                                                <p class="m-0">
                                                                    {{i.company}}
                                                                </p>
                                                                </div>
                                                        </td>
                                                        <td>
                                                            <div class="widget-26-job-info">
                                                                <p class="type m-0">Full-Time</p>
                                                                <p class="text-muted m-0">in <span
                                                                        class="location">{{ i.country.name }}</span></p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="widget-26-job-salary">Rs. {{ i.pay }} </div>
                                                        </td>
                                                        <td>
                                                            <div class="widget-26-job-category bg-soft-base">
                                                                <span>{{i.category}}</span>
                                                            </div>
                                                        </td>
                                                        
                                                    </tr> 
                                                    {% endfor %}                                                  


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div><a style="font-size: 8pt; text-decoration: none" target="_blank" href="http://frontendfreecode.com">Free
        Frontend</a>


    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/category.js' %}"></script>
    <!-- {% endblock %} -->