{% extends 'base/UserNavbar.html'%}{% block title%}{% load static %} Profile{% endblock %} {% block body%}
<link rel="stylesheet" href="{% static 'css/account_detail.css'%}">

<div class="container prof-det">
    <div class="Profile">
        <div class="profile_picture">
            {% if freelancer.profile_picture %}
            <img src={{freelancer.profile_picture.url}} alt=""> {% else %}
            <p></p>

            {% endif %}

        </div>
        <div class="profile_name">
            <H3>{{user.username|capfirst}}</H3>
            <h8><i class="fa-solid fa-location-dot"></i> {{freelancer.city}}, {{freelancer.country}} – 12:14 am local
                time
            </h8>
        </div>
        <div class="change_details">
            <a href="/profile/">Edit Profile</a>
        </div>
    </div>
    <div class="row" style="margin: 0;">
        <div class="col-lg-4 desc ">
            <div class="desc-margin ">
                <h5>Hours per week</h5>
                <p>More than 30 hrs/week</p>
            </div>
            <div class="desc-margin ">
                <h5>Languages</h5>
                <p>{{freelancer.language}}</p>
            </div>
            <div class="desc-margin ">
                <h5>Education</h5>
                <p>{{freelancer.education}}</p>

            </div>
            <div class="desc-margin">

                <h5> <a href="/appliedjobs" class="text-success text-decoration-none">Applied Jobs</a></h5>
                <p>View jobs you have applied to.</p>
            </div>

            {% if request.user.is_freelancer %}
            <div class="desc-margin">
                <h5><a href="/recievable" class="text-success text-decoration-none">My payments</a></h5>
                <p>View your payment statuses.</p>
            </div>
            {% endif %}
        </div>
        <div class="col-lg-8 desc" style="border-left: none;">
            <div class="row">
                <div class="col-lg-8 title-price">
                    {% if freelancer.current_job %}
                        <h3>{{freelancer.current_job}}</h3>
                    {% else %}
                        <h3>Currently Unemployed</h3>
                    {% endif %}
                </div>
                <div class="col-lg-4 title-price">
                    <h5>$5.00/hr</h5>
                </div>
                
            </div>
            <hr>
            <div class="user_detail">
                <h3>About {{freelancer.user.username | capfirst}}</h3>
                {% if freelancer.description %}
                    <p>{{freelancer.description}}</p>
                {% else %}
                    <p>User hasn't added any descriptions.</p>
                {% endif %}
            </div>
            <h3 class="user_detail">Portoflio <a href="/portfolio"><span
                        class="fa-solid fa-pencil edit-icon"></span></a></h3>
                        <hr>
            <div class="user_detail bg-light rounded" style="height:200px ;overflow-y:scroll;">
                {% for p in portoflio %}
                <div class="portofolio">
                    <h4>{{p.Project_title}} <a href="{% url 'delete_portofolio' p.id %}"><span
                                class="fa-solid fa-trash edit-icon"></span></a></h4>
                    <p>{{p.description}}</p>
                    <p>{{p.date}}</p>
                    <hr>
                </div>

                {% endfor %}
            </div>
        </div>

    </div>
</div>
<div class="container desc prof-det">
    <h3 class="profile_name">Employment History <a href="/employment_history"><span
                class="fa-solid fa-pencil edit-icon"></span></a></h3>
    <div class="profile_name" style="height:230px ;width:98%;overflow-y:scroll;">


        {% for e in Employment %}
        <div>

            <h4>{{e.company}} <a href="{% url 'delete_employment' e.id %}"><span
                        class="fa-solid fa-trash edit-icon"></span></a></h4>
            <p>{{e.city}}</p>
            <p>{{e.Title}}</p>
            <p>{{e.period}}</p>
            <p>{{e.description}}</p>
            <br>
        </div>

        {% endfor %}
    </div>
</div>
<div class="container desc prof-det">
    <h3 class="profile_name">Other Experiences <a href="/other_experience"><span
                class="fa-solid fa-pencil edit-icon"></span></a></h3>
    <div class="profile_name" style="height:100px ;width:98%;overflow-y:scroll;">

        {% for o_e in other_exp %}
        <div>
            <h4>{{o_e.SUbject}} <a href="{% url 'delete_other_exp' o_e.id %}"><span
                        class="fa-solid fa-trash edit-icon"></span></a></h4>
            <p>{{o_e.description}}</p>
        </div>

        {% endfor%}
    </div>
</div>


{% endblock %}