{% extends './base/UserNavbar.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/homepage.css'%}">


    <!-- Bootstrap -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous" />
    
    
    <title>Neplance</title>
</head>
<body>

    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content float-end">
                <div class="text-2"><span>O</span>nline Earning Is Now Easy.</div>
                <div class="text-1">We are always availed to consult on taking your higher your experience to next level so that you can stay.</div>
                <div class="button">
                <a> Find Talent</a> <a> Find Job</a>
                </div>
            </div>
        </div>
    </section>

    <!-- ========================================================================================================= -->
<div class="card">
    <div class="container">
        <p class="title">World's Largest Earning Platform</p>
        
        <div class="image">
            <img src="/static/images/graphic_design.jpg" alt="design">
            <img src="/static/images/programming.webp" alt="program">
            <img src="/static/images/uiux.webp" alt="uiux">
        </div>
    </div>
    <div class="picture">
        <img src="/static/images/advertise.png" alt="adver">
    </div>
</div>
<!-- ==================================================================================================== -->

<section class="success">
    <div class="dream">
        <div class="picture">
            <img src="/static/images/oppo.png" alt="adver">
        </div>
        <div class="container">
            <p class="title">Help Yourself to Success Your Dream.</p>
            <p class="text">You are always availed to consult on taking your skill to next level so you can stay competitive in the global world. We give the opportunity.</p>
            <div class="connect">
            <button> <span> STAY CONNECTED</span></button>
            </div>
        </div>
        <div class="move">
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>
        </div>
    </div>
</section>
<!-- ======================================================================================================================== -->
<section class="join">
    <div class="earn">
        <div class="picture">
            <img src="/static/images/page.png" alt="adver">
            <div class="text1">Find out why you should join us!</div>
        </div>
        
    </div>
</section>
{% endblock %}

