{% extends 'base/UserNavbar.html' %} {% load widget_tweaks %} {% load static %}
{% block title %}Reset your password{%endblock %} {% block body %}
<link rel="stylesheet" href="{% static 'css/forgot.css'%}">
<div class="container forgot-container">
  <div class="row justify-content-center">
    <div class="col-md-7 forgot-form">
      <div class="head">
        <div class="d-flex immg">
          <img class="mx-auto img-fluid" src="{% static 'images/correct.jpg' %}" alt="">
        </div>
        <h5>Password Reset Email Sent</h5>
        <p>We've emailed you instructions for resetting your password.</p>
        <p>
          If you don't receive an email, please make sure you've entered
          the address you have registered with.
        </p>
        <button class="btn active" >button</button>
        <a href="/" role="button" class="btn active">Button</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}